body{
    background-color: black;

}
.left1{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    background-color: aqua;
    border-radius: 20px;
    margin: 20px;
    float: left;
    padding: 30px 30px;
}
.left1 p{
    color: black;
    text-align: center;
    font-size: 20px;
}
.left2{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    background-color: aqua;
    border-radius: 20px;
    margin: 20px;
    float: left;
    padding: 30px;
    
}
.left2 p{
    color: black;
    text-align: center;
    font-size: 20px;
}
.left3{
    width: 50px;
    height: 50px;
    background-color: aqua;
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px;
    float: left;
    padding: 30px;
}
.left3 p{
    color: black;
    text-align: center;
    font-size: 20px;
}
.left4{
    width: 50px;
    height: 50px;
    background-color: aqua;
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px;
    float: left;
    padding: 30px;
}
.left4 p{
    color: black;
    text-align: center;
    font-size: 20px;
}
.left5{
    clear: left;
    width: 50px;
    background-color:rgb(241, 158, 172);
    height: 50px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px;
    float: left;
    padding: 30px; 
}
.left5 p{
    color: black;
    text-align: center;
    font-size: 20px;
}
.left6{
    width: 50px;
    height: 50px;
    background-color:rgb(241, 158, 172);
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px;
    float: left;
    padding: 30px;
}
.left6 p{
    color: black;
    text-align: center;
    font-size: 20px;
}
.left7{
    width: 50px;
    height: 50px;
    background-color:rgb(241, 158, 172);
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px;
    float: left;
    padding: 30px;
}
.left7 p{
    color: black;
    text-align: center;
    font-size: 20px;
}
.left8{
    width: 50px;
    height: 50px;
    background-color:rgb(241, 158, 172);
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px;
    float: left;
    padding: 30px;
}
.left8 p{
    color: black;
    text-align: center;
    font-size: 20px;
}
.left9{
    width: 50px;
    height: 50px;
    background-color: cornflowerblue;
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px;
    float: left;
    padding: 30px;
    clear: left;
}
.left9 p{
    color: black;
    text-align: center;
    font-size: 20px;
}
.left10{
    width: 50px;
    height: 50px;
    background-color: cornflowerblue;
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px;
    float: left;
    padding: 30px;
}
.left10 p{
    color: black;
    text-align: center;
    font-size: 20px;
}
.left11{
    width: 50px;
    height: 50px;
    background-color: cornflowerblue;
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px;
    float: left;
    padding: 30px;
}
.left11 p{
    color:black;
    text-align: center;
    font-size: 20px;
}
.left12{
    width: 50px;
    height: 50px;
    background-color: cornflowerblue;
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px;
    float: left;
    padding: 30px;
}
.left12 p{
    color:  black;
    text-align: center;
    font-size: 20px;
}